body{
  margin:0; padding:0; font-family: 'Helvetica', sans-serif; color:#000;
  font-size: 20px;
}

.container{
  max-width: 80%;
  margin:0 auto;
  display: block;
  padding:20px 0; 
}

.text-center{
  text-align: center;
}

input.form-control{
  padding:10px 15px;  
  border:1px solid #ddd;
  background:#fff;
  font-size:20px;
}

input.form-control:focus{
  border: 1px solid rgb(85, 63, 247);
  outline: 1px solid rgb(85, 63, 247);
}

.form-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-container .form-group{
  display:flex;
  flex-direction: column;
  gap:10px;
  box-sizing: border-box;
  margin-bottom:20px;
  width: 33.33%;
  padding-right:10px;
}

.form-container label{
  margin-bottom:10px;
  display: block;
  font-weight: bold;
}

.generate-btn,
.print-btn{
  border:0;
  padding:10px 20px;
  font-size: 20px;
  line-height: 1;
  background:rgb(85, 63, 247);
  color:#fff; 
  cursor: pointer;
}

.print-btn{
  display:none;
  float: right;
  background:rgb(255, 58, 156) !important;
}
.generate-btn:hover,
.print-btn{
  background:rgb(121, 63, 247);
}

.clear-btn{
  border:0;
  padding: 10px 20px;
  background: #f9f9f9;
  font-size:20px;
  line-height: 1;
  cursor: pointer;
}

.clear-btn:hover{
  background:#f1f1f1;
}



.form{
  margin-bottom:30px;
}

.number-table{
  display: flex;
  flex-wrap: wrap;
}

.number-cell{
  box-sizing: border-box;
  border:2px solid #000;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  width: 20%;
  font-size: 50px;
  padding:15px;
}


@media print {
  .form{
    display:none;
  }
  .container{
    max-width:100%;
    padding: 10px;
  }
  .number-table{
    display: block;
  }

  .number-cell{
    padding:17px;
    break-inside: avoid;
    display:block;
    float:left;
  }
 
}

@page {
   margin: 0; 
   size: 8.5in 13in landscape;
}